@charset "UTF-8";
*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #699952, #327355);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0b2559af;
    width: 1100px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0B2559;
    text-align: center;
    text-shadow: 1px 1px 2px #051027;
}
h2{
    color: #183B59;
}
p{
    text-align: justify;
}